%h1 New Todo Item
=form_for :todo, url: todos_url do |f|
  %p
    =f.label :title
    =f.text_field :title
  %p
    =f.label :detail
    =f.text_field :detail
  %p
    =f.label :quantity
    =f.text_field :quantity
  %p
    =f.submit "Add"
